[submodule "common"]
	path = common
	url = https://github.com/mwrlabs/mercury-common.git
[submodule "src/drozer/lib/mwr-tls"]
	path = src/drozer/lib/mwr-tls
	url = https://github.com/mwrlabs/mwr-tls
[submodule "src/drozer/lib/mwr-android"]
	path = src/drozer/lib/mwr-android
	url = https://github.com/mwrlabs/mwr-android
[submodule "src/drozer/lib/guiless-agent"]
	path = src/drozer/lib/guiless-agent
	url = https://github.com/mwrlabs/rogue-agent
[submodule "src/drozer/lib/jdiesel"]
	path = src/drozer/lib/jdiesel
	url = https://github.com/mwrlabs/cinnibar
