*~
*.apk
*.hg
*.deb
debian/*
*.rpm
redhat/*
*.pyc
.mercury_history
.profile
build/*
dist/*
drozer.egg-info
log/*.log
obj
src/drozer/modules/**/*.class
src/drozer/modules/**/*.apk
src/drozer.egg-info
mercury.log
deb_dist/*
*.tar.gz
